# ---
# title: Gitignore for template
# ---

# ---

# --- Base ---

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
Icon[[]]
._*

# Linux
*~
.nfs*

# Windows
Desktop.ini
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# Logs and temporary files
log{,s}/
*.bak
*.bak[0-9]*
*.log
*.swo
*.swp
*.tmp

# --- Python ---

.python-version
.venv/
*.egg-info/
__pycache__/
*.pyi

# --- Data Science ---

data/
plots/
models/
